<div class="container">
  <div class="card mb-2">
    <div class="card-header">New Galaxy</div>
    <div class="card-body">
      <%= form_for(@galaxy, url: admin_galaxies_path, method: 'post') do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
      <% end %>
    </div>  
  </div>
</div>