<h1>Users#index</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>email</th>
        <th>Admin Level</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.get_account().admin_level %></td>
        </tr>
    <% end %>
</table>